main{
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        width: 80%;
    }
    .card{
        width: 150px;
        margin: .25rem 0;
        padding: 1rem;
        border: 2px solid black;
        header{
            text-align: center;
            background-color: blue;
            color: white;
        }
        footer{
            display: flex;
            justify-content: center;
        }
    }
}
// public function search(Request $request)
// {
//     $search = $request->search;
//     $trips = TrainTrip::when($search, function ($query, $search) {
//         return $query->where('TrainProductor', "like", "%{$search}%");
//     });
//     return view('home', [
//         'trips' => $trips,
//     ]);
// }