main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}
main .card {
  width: 150px;
  margin: 0.25rem 0;
  padding: 1rem;
  border: 2px solid black;
}
main .card header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: blue;
  color: white;
}
main .card header .dlt {
  background-color: red;
}
main .card footer {
  display: flex;
  justify-content: center;
}